<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Home page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../favicon.ico"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <!-- NAVIGATION BAR -->
            <nav class="navbar navbar-dark bg-dark justify-content-between">
                <a class="navbar-brand">TODO TASK's</a>
            </nav>

            <div class="content">
                <div class="header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create todo task</h5>
                </div>
                <div class="body">
                    <form method="post" role="form">
                        <div class="form-group">
                            <label for="addTodo-title">Title</label>
                            <input type="text" required="required" name="title" class="form-control"
                                   id="addTodo-title" th:value="${todoTask.title}"/>
                        </div>
                        <div class="form-group">
                            <label for="addTodo-description">Description</label>
                            <textarea class="form-control" name="text" id="addTodo-description"
                                      rows="7" th:text="${todoTask.desc}"></textarea>
                        </div>
                        <div class="custom-control custom-checkbox" align="center">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" th:checked="${todoTask.complete}">
                            <label class="custom-control-label" for="customCheck1"> is completed?</label>
                        </div>
                    </form>
                </div>
                <div class="footer justify-content-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="css/custom.css"></script>
</body>
</html>