<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <File name="LOGFILE" fileName="logs\app-allLogs.txt" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="SEARCH" fileName="logs\app-searchesInfo.txt" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>

        <File name="WRONG_SEARCH" fileName="logs\app-stationsNotFound.txt" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>

        <File name="ERROR" fileName="logs\app-errors.txt" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="Main" level="TRACE">
            <AppenderRef ref="LOGFILE" level="TRACE"/>
            <AppenderRef ref="SEARCH" level="INFO"/>
            <AppenderRef ref="WRONG_SEARCH" level="WARN"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="CONSOLE" level="ERROR"/>
            <AppenderRef ref="ERROR" level="ERROR"/>
        </Root>
    </Loggers>

</Configuration>